body {
    margin-top: 100px;
    background-color: #1F2937;

}

@font-face {
    src: url('Karla-ExtraBold.ttf') format('truetype');
    font-family: "KarlaFont";
}
  
@font-face {
    src: url('Inter-Light.ttf') format('truetype');
    font-family: "Inter";
}

#password h1
{
    font-family: "KarlaFont";
    font-size: 40px;
    text-align: left;
    margin-left: 52px;
    margin-bottom: 0;
    color: white;
    
}

#password h2
{
    font-family: "KarlaFont";
    font-weight: bold;
    text-align: left;
    margin-left: 52px;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 30px;
    color: #4ADF86;
}

#password h3
{
    font-family: "Inter";
    font-weight: bold;
    text-align: left;
    margin-left: 52px;
    margin-top: 0;
    font-size: 20px;
    color: #D5D4D8;
}

#password button
{
    background-color: #10B981;
    color: white;
    margin-top: 30px;
    margin-left: 52px;
}

#pass
{
    display:grid;
    grid-template-columns: 190px 10% 1fr 1fr;
}

#paragraph1
{
    background-color: #273549;
    text-align: center;
    margin-left: 52px;
    margin-top: 40px;
    width: 160px;
    height: 20px;
    color: #55F991;
    padding: 5px;
}

#paragraph2
{
    background-color: #273549;
    text-align: center;
    margin-left: 52px;
    margin-top: 40px;
    width: 160px;
    height: 20px;
    color: #55F991;
    padding: 5px;
}

